<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Company </title>
  </head>
  <body>
    <div style="text-align:center">
      <br><br>
      <img src="{{ url_for('static', filename='images/example-app.jpeg') }}" alt="My Co." height="150" width="200">
      <h1> Welcome to Example App Portal </h1> <br>
      <a href="{{url_for("maintenance")}}">SignUp</a>
	    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <a href="{{ url_for("login") }}">LogIn</a> <br>
    </div>
  </body>
</html>
